.icon-slider-container {
    display: flex;
    width: 100%;
    margin: 50px 0px;
    align-items: center;
      }
  
  .icon-slider-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .icon-slider-item {
    margin: 0 20px; /* Adjust margin between images if needed */
  }
  
  .icon-slider-image {
    width: 125px;
    height: 125px;
    object-fit: contain; /* Ensures images are properly fitted */
  }
  